.bChart_grid path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bChart_y_axis line {
  fill: none;
  stroke: #bbb;
  stroke-width: 0.2;
}

.bChart_x_axis line {
  fill: none;
  stroke: #bbb;
  stroke-width: 0.2;
}