.bChart_tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
  border-radius: 10px;
  padding: 10px;
}

.bchart-tooltip-value {
  float: left;
  padding-left: 5px;
}

.bchart-tooltip-group {
  float: left;
  padding-right: 5px;
  border-right: 1px solid;
}

.bchart-tooltip-header {
  border-bottom: 1px solid;
  background-color: #ccc;
}

.bchart-focus-x-line {
  stroke: #000;
  stroke-width: 2px;
}